/* mobile (<= 480px ) */


@media screen and (max-width: 380px) {
  /* Right Section: Sidebar Menu (Responsive) */

.navigation-bar,header{
  height: 20px;
  
}


#h-logo{
  font-size: 17px;
  border-radius: 50%;
    width: 25px;
    height: 25px;
}

#h-name #first-name,#last-name{
  font-size: 17px;
}

#h-name #last-name{
  font-size: 17px;
}

#header-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height:100vh;
  position: absolute;
  top: 0;
  left: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  /* margin-top: 62px; */
  padding-top: 100px;
  border: 2px solid #333;
  box-shadow: 0 4px 15px #333;
  transition: left 0.3s ease;
}

  /* Menu Icon for opening the menu */
  #menu-icon {
    display: block !important;
    color: white;
    font-size: 15px;
  }

  /* Close button styling */
  #close-btn {
    display: block;
    font-size: 15px;
    position: absolute;
    top: 25px;
    /* right: 20px; */
    color: white;
    cursor: pointer;
    z-index: 20;
    width: 100%;
    height: 40px;
  }

  /* Active class for opening the menu */
  #header-right.active {
    left: 50%;
  }

  /* Styling for list items in the sidebar */
 
  /* Styling for list items in the sidebar */
  #header-right .header-links {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;

    /* border: 1px solid #333; */
    transition: background-color 0.5ms ease;
    /* padding: 0 60px; */
  }

  .header-links a {
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    gap: 1rem;
    /* padding-left: 100px; */
    &:active {
      color: white !important;
    }
  }


 
  #header-right .header-links:hover {
    background-color: aqua;
    /* color:black; */
  }

  #modes{
    position: absolute;
    bottom: 92%;
    left: 70%;
    z-index: 400;
  }
  #moon,#sun{
    font-size: 15px;
  }




.fa-house,
.bi-file-person,
.fa-address-book,
.fa-universal-access,
.fa-laptop,
.fa-bag-shopping,
.fa-address-card{
  display:inline-block !important;  
font-size: 10px;
}




.home{
  flex-direction: column-reverse;
  justify-content: start;

/* border: 5px solid green; */
height: auto;
/* gap: 5rem; */
padding-top: 70px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 30px;
gap: 2rem;
}

.image img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 4px 4px 20px aqua, -4px -4px 20px aqua;
}

#text{
  font-size: 15px;
}
.home-left{
  padding: 10px;
}
#details{
  font-size: 13px;
}
.type{
  margin: 15px 0;

}

#icons{
display: flex;
justify-content: start;
align-items: center;
gap: 1rem;
/* border: 2px solid red; */
height: 100px;
margin: 0;
padding: 0;
/* padding-top: 5px; */


}


#cv{
  background-color: aqua;
  border: none;
  outline: none;
  height: 35px;
  width: 100px;
  border-radius: 45px;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
transition: height,width,box-shadow 0.4s,0.4s,0.4s ease-in;
box-shadow: 2px 2px 10px aqua ,-2px -2px 10px aqua;

&:hover{
  height: 37px;
width: 103px;
box-shadow: 2px 2px 15px aqua ,-2px -2px 15px aqua;
}
&:active{
  color: black;
}
}




    /* about styling open */
  
    .about-head{
      color: white;
  width: 100%;
  height: 120px;
  /* border: 2px solid blueviolet; */
  padding-left: 35%;
  /* margin: 0 auto; */
  padding-top:80px ;
font-size: 25px;

    }
    .about{
      gap: 0;
        }
       
  #about-image img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid aqua;
    box-shadow: 2px 2px 10px aqua,-2px -2px 10px aqua;
    &:hover{
      box-shadow: 2px 2px 30px aqua,-2px -2px 30px aqua;
    }
      }

#about-details{
font-size: 13px;
}




/* education css open  */
#education{
  color:aqua;
  width: 100%;
  height: 150px;
  /* border: 2px solid deepskyblue; */
  padding-left: 35%;
  padding-top:90px ;
  text-transform: capitalize;
  font-size: 25px;
}
  
.education{

  padding: 0 0;
  padding-left: 0;
  height: auto;
}

   .timeline-line{
      min-height:400px;
      justify-content:start;
      align-items: start;
border-radius: 5px;

   }  
   .timeline-container{
      position: relative;
   }
   .timeline-item{
       min-height: 50px;
      width: 17rem;
      border: 2px solid aqua;
      border-radius: 30px;
      position: relative; 
  
   }  

   .content{
    padding: 10px 10px;
    font-size: 15px;
   }
   

   .timeline-item:nth-child(even){
       right: 0;
   }

   .timeline-item:nth-child(odd){
    
  left: 0;
   }

   .timeline-item:nth-child(odd)::before{
     
      right: 99%;
      bottom: 105%;
    }
 
   .timeline-item:nth-child(even)::before{
   
      left: -4%;
      /* right: -100%; */
      bottom: 105%;
    }

  /* education css close  */




  
/* skill css open */
 
#skill {
  color: white;
  width: 100%;
  height: 100px;
  /* border: 2px solid deepskyblue; */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding-left: 37%;
  padding-top: 80px;
  font-size: 25px;
}
#skill span {
  color: aqua;
} 

.skills {
  height: auto;
  flex-direction: column;
}

/* technical skills open */

.technical {
  height: 100%;
  width: 100%;

}

.technical-head {
 
  font-size: 10px;
}




.progress-bar {
  height: 7px;

}



/* professional skill  */
.professional {
  height: 100%;
  width: 100%;
  /* border: 2px solid deeppink; */
}

.professional-head {

  font-size: 10px;
}

.professional-skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.progress-circle {
  height: 150px;
  width: 150px;

  padding-left: 10px;
}





/* professional css close */
/* skill section close */

.service-head{
  color: white;
  width: 100%;
  height: 150px;
  /* border: 2px solid deepskyblue; */
  text-transform: capitalize;
  padding-left: 30%;
  padding-top: 90px;
  font-size: 25px;
}

.service-head span{
  color: aqua;
}

.services{
  height: auto;

  grid-template-rows: repeat(1,1fr);
  grid-template-columns: repeat(1,1fr);
  place-items: center;
padding: 10% 0%;
row-gap: 4rem;
}

.service-card{

  height: 350px;
  width: 280px;
  /* box-shadow: 0px 0px 35px purple; */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 padding: 25px;
background-color: black;
cursor: pointer;
     border-radius: 15px;

}
.service-card:hover {
  transform: scale(1.05); 
  box-shadow: 0px 0px 30px red;
}

.service-card h3 {
  color:white;
  font-size: 20px;
 margin-top: 15px;
 margin-bottom: 10px;
 text-shadow: 0 0 2px white;

}

.service-card p {
  color:white;
  font-size: 15px;
  width: 100%;
 
}

.service-card #images{
  width: 100%;
  /* background:whitesmoke; */
  border-radius: 10px;
  padding: 10px;
}

.service-card img{
margin: 0 30%;
 height: 70px;

}

/* service css close */

/* project css open */

.project-head{
  color: white;
  width: 100%;
  height: 150px;
  text-transform: capitalize;
  padding-left: 30%;
  padding-top: 90px;
  font-size: 25px;
}
.project-head span{
  color: aqua;
}

.project-container{
  height: auto;
  width: 100%;
 
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(1,1fr);
  place-items: start;

padding-left: 7%;

}


.project-card{
  height: 270px;
  width: 290px;
  background:black;
padding: 15px;
cursor: pointer;
border-radius: 15px;
transition: transform 0.3s;
/* box-shadow: 0px 0px 20px purple; */
&:hover{
  transform: translateY(-10%) scale(1.05);
  box-shadow: 0px 0px 25px red;
}
}



.project-card h2{
padding-left: 20%;
margin-top: 2%;
margin-bottom: 2%;
text-shadow: 0px 0px 2px white;
color: white;
font-size: 23px;
}

.project-card h5{
  font-size: 13px;
  color: white;
}

#project-head{
  width: 100%;
  /* border: 2px solid red; */
}

.project-card #project-buttons{
  width: 100%;
margin-top: 15px;
  /* border: 2px solid red; */
padding: 0 5px;
}


/* project css close */




/* contact section open  */
.contact-heading{
  text-transform: capitalize;
  padding-left: 30%;
  padding-top: 90px;
  font-size: 25px;
}
.contact-heading span{
  color: aqua;
}
.contact-me{
height: auto;
width: 100%;
/* border: 2px solid red; */
display: flex;
justify-content: center;
align-items: start;
padding:20% 5%;

}
.contact{
  
  height: auto;
  width: 300px;
  border: 3px solid aqua;

  box-shadow: 0px 0px 20px aqua;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px 20px;
  animation: fadeIn 3s ease-in-out;
transition: transform 4s;
&:hover{
  transform: translateY(-25px) scale(1.05);
}
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20%); /* Thoda upar se aaye */
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}



#contact-head h1{

  color: aqua;
  font-size: 20px;
}
#contact-head p{
  color: white;
  /* margin:15px 5px 15px 30px ; */
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 45px;
 font-size: 15px;
}


.contact-forms form button{

  margin: 5px 25%;

}




/* footer css open */

.footer{
  height: 20vh;
  width: 100%;
  /* border: 2px solid red; */
 display: block;
 background: rgb(10, 10, 10);
}


.footer-links{
 
  display: flex;
  justify-content: center;
padding-top: 10px;
  gap: 0.5rem;
}


#copy-right{
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
/* footer css close */



/* tggle mode */

#toggle-mode{
  /* color: white; */
  position: absolute;
  bottom: 93%;left: 70%;
  font-size: 18px;
  z-index: 300;

}



}


